@charset "utf-8";
/* CSS Document */

body,p,ul,li,nav,h1, a {
	font-family: 'Abel', sans-serif;
	font-size: 16px;
	color: #f23f52;
	line-height: 1.2em;
}

/*  NAV */
nav {
	display: flex;
	flex-flow: row wrap;
	/* justify-content: center; */
}
h1 {
  text-align: left;
  flex: 4 0;
  padding-left: 40px;
}
h1 a {
	font-size: 40px;
	text-decoration: none;
  	text-transform: uppercase;
}

.buttons {
	flex: 1 0;
}

button {
	display: block;
	margin: 16px;
	min-width: 48px;
	max-width: 100px;
	min-height: 48px;
	width: 100%;
	background-color: #f23f52;
	box-shadow: 0 2px 5px 0 #eceee4;
	border: none;

}

button:hover {
	cursor: pointer;
}

/* MAIN */

body {
	background-color: #111518;
	/* margin: 0; */
	max-width: 100%;
	overflow-x: hidden;
	position:relative;
}

main {
	display: flex;
	flex-flow: column;
	margin: auto;
	max-width: 800px;
}

/*  -----------------BREADCRUMB ----------------*/
#breadcrumb {
	box-shadow: 0 2px 5px 0 #eceee4;
	font-size: 17px;
	list-style: none;
	margin-bottom: 5px;
	margin-top: 5px;
	max-width: 100%;
	padding-bottom: 5px;
    padding-top: 5px;
	flex: 1 100%;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
	color: #f23f52;
	content: "/\00a0";
    padding: 4px;
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #f23f52;
    font-weight: bold;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    text-decoration: underline;
}

/* ------------RElEASES AND SONGS----------------- */

#release-cover {
	max-width: 100px;
}

.flexbox {
	align-content: center;
	display: flex;
	flex-flow: row wrap;
	margin: auto;
	padding: 0;
	width: 100%;
}

li.list{
	box-shadow: 0px 2px 5px 0px #eceee4;
	list-style: none;
	margin: 5px;
	text-align: center;
	width: 45%;
}

.song-list {
	align-content: center;
	display: flex;
	flex-flow: column nowrap;
	margin: auto;
	padding: 0;
	width: 100%;
}

.song {
	box-shadow: 0 2px 5px 0 #eceee4;
	list-style: none;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
	width: 100%;
}

.link-container {
		text-decoration: none;
}
.list-container {
	padding: 0.5em;
}
.list-container:hover {
	background-color: rgba(236, 238, 228, 1);
}


/* Log In Button */
#signinButton {
	margin: auto;
	margin-top: 10px;
}

/* media query small screen */
@media screen and (max-width: 450px) {
  li.list {
		width: 100%;
	}

	h1 > a {
		font-size: 26px;
	}
}
