<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Delete release</title>
</head>
<body>
  <h1>Delete Genre</h1>
  <h2>Do you confirm you want to delete the release '{{release.title}}' of the genre '{{genre.name}}'?</h2>
  <form action="{{url_for('deleteRelease', genre_id=genre.id, release_id=release.id)}}" method="POST">
    <input type="submit" value="Confirm">
    <a href="{{url_for('showReleases', genre_id=genre.id)}}">Cancel</a>
  </form>
</body>
</html>
