<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  <title>Vinyls app</title>
</head>
<body>
  <header>
    <nav>
      <h1>
        <a href="/">Vinyls Catalogue</a>
      </h1>
    </nav>
  </header>
  <main>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <strong>{{message}}</strong></br>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <a href="{{url_for('newGenre')}}">Add new genre</a>
    <ul class="felxbox">
      {% for genre_count in genres_count %}
      <li class="list">
        <a href="{{url_for('showReleases', genre_id=genre_count[0])}}" class="link-container">
        <div class="list-container">
          <h3>{{genre_count[1]}}</h3>
          <p>{{genre_count[2]}} Release(s)</p>
        </div>
      </a>
          <a href="{{url_for('editGenre', genre_id=genre_count[0])}}">Edit</a>
          <a href="{{url_for('deleteGenre', genre_id=genre_count[0])}}">Delete</a>
      </li>
      {% endfor %}
    </ul>
  </main>
</body>
</html>
