<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Add genre</title>
</head>
<body>
  <h1>Add new genre</h1>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <strong>{{message}}</strong></br>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <form action="{{url_for('newGenre')}}" method="POST">
    <input type="text" placeholder='name' name='name' required>
    <input type="submit" value='Create'>
  </form>
</body>
</html>
