<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Releases</title>
</head>
<body>
  <h1>{{genre.name}} releases</h1>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <strong>{{message}}</strong></br>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <a href="{{url_for('newRelease', genre_id=genre.id)}}">Add new release</a>
  <ul>
    {% for release in releases %}
      <li>
        <h2>{{release.title}}</h2>
        <p>By {{release.artist}}</p>
        <p>Label: {{release.label}}</p>
        <p>Released on {{release.released}}</p>
        <a href="{{url_for('deleteRelease', genre_id=genre.id, release_id=release.id)}}">Delete</a>
      </li>
    {% endfor %}
  </ul>

</body>
</html>
