<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Releases</title>
</head>
<body>
  <h1>{{genre.name}} releases</h1>
  <ul>
    {% for release in releases %}
      <li>
        <h2>{{release.title}}</h2>
        <p>By {{release.artist}}</p>
        <p>Label: {{release.label}}</p>
        <p>Released on {{release.released}}</p>
      </li>
    {% endfor %}
  </ul>

</body>
</html>
